{
  "presets": ["@babel/env", "@babel/preset-react"]
  //preset-react and preset-env are both presets that transform specific flavors of code — in this case, the env preset allows us to transform ES6+ into more traditional
  // javascript and the react preset does the same, but with JSX instead.
}
